body{
    font-family: 'Cabin', sans-serif;
    padding: 0;
    margin:0;
}


.flexible-container{
    display: flex;
    width: 80%;
    margin:0 auto;
    margin-bottom: 100px;
}

.h1-decoration{
    border-left: 3px solid teal;
    padding-left: 10px;
}

h1{
    font-size: 35px;
}
.gold-color{
    color: gold;
}


.first-image{
    width: 300px;
   
}

.button-btn{
    padding: 10px 40px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    
}


.align{
    text-align: center;
}


.flexible-container2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}


.image-section2{
    width: 50%;
}



.mission{
    width: 200px;
    border: 1px solid gray;
    background-color: silver;
    border-radius: 30px;
    padding-left: 20px;
}

.vission{
    width: 200px;
    border: 1px solid gray;
    background-color:#f3f2f2;
    border-radius: 30px;
    padding-left: 20px;
}

.goals{
    width: 200px;
    border: 1px solid gray;
    background-color:	#fbeaea;
    border-radius: 30px;
    padding-left: 20px;
}


.flexible-container3{
    display: flex;
    margin: 70px;
    
    margin-bottom: 50px;
}

.third-image{
    width: 85%;
   

}


.first-banner{
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    
    width: 100%;
    background-position: left;
    background-size: 220px;
    margin-left: 40px;


    
    
}